/*------DESIGN---*/
body {
	background-image: url("bg.png");
}

#wrapper {
	border-color: black;
	width: 60vw;
	text-align: center;
	
	
}

img {
	border: 1px solid rgba(0,0,100,0.35);
	border-radius: 4px;

}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: none;
	color: white;
}

a:active {
	text-decoration: none;
	color: white;
}

/*---END DESIGN---*/
/*-----------------------------------*/


/*---- BACKGROUND ----*/
#whitener {
	background-color: rgba(255,255,255,0.85);
	
	border-radius: 10px;
	
	width: 60vw;
	
	
	margin-left: 20vw;
	margin-right: 20vw;
	padding-bottom: 2vw;
}
/*----------------------*/


/*------ FORM ----------*/
form {
	margin-top: 10px;
	
}

#search_bar {
	/* border visuals */
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
	border-color: black;
	
	/* size */
	margin-right: 0;
	padding: 10px;
	width: 300px;
	height: 20px;
	
}
/*-------------------------------------*/



/* SUBMIT BUTTON */
#submit_button {
	font-family: 'Bungee', 'cursive';
	font-size: 16px;
	
	line-height: 150%;
	/* border visuals */
	border-bottom-right-radius: 20px;
	border-top-right-radius: 20px;
	border-color: black;
	
	background-color: #cccccc;
	
	/* size and position */
	margin-left: -6px;
	padding: 10px;
	vertical-align: middle;
	height: 44px;
	width: 120px;
	
	
}

#submit_button:hover {
	background-color: #aaa;
}

#submit_button:active {
	background-color: #444;
}
/* SUBMIT BUTTON END */
/*-------------------------------------*/



/* RADIO BUTTONS */
input[type="radio"] {
	display: none;
	margin-bottom: 4px;
}

label {
	display: inline-block;
	margin-bottom: 4px;
	padding: 4px 11px;
	font-size: 16px;
	background-color: #bbb;
	font-family: 'Bungee', 'cursive';
}

.button , #submit_button{
	cursor: pointer;
}



.button:hover {
	box-shadow: 0 0  5px 5px white;
}

.button:active {
	background-color: white;
}

#part_form_visual {
	
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
	width: 60px;
}

#set_form_visual {

	border-bottom-right-radius: 20px;
	border-top-right-radius: 20px;
	width: 60px;
}

input[type="radio"]:checked + label {
	background-color: #ff9900;
}
/* RADIO BUTTONS END */
/*-------------------------------------*/



#search_container {


}

/*----------------------*/

#header h1{
	font-family: 'Bungee', 'cursive';
	font-size: 60px;
	color: white;
	text-align: center;
	text-shadow: 10px 10px 10px #000;
	
}

#text {
	font-family: 'Bungee', 'cursive';
	font-size: 30px;
	color: black;
	text-align: center;
}


/* TABELL DESIGN */
/*-------------------------------------*/
table{
	
	margin: auto;
	margin-top: 20px;
	border: 5px solid rgba(0,0,100,0.35);
	border-radius: 10px;
	border-spacing: 0px;
	width: 80%;
	
}

table a{
	color: black;
	text-decoration: none;
}

table a:hover{
	color: #bfbfbf;
}


tr:nth-child(even){
	background-color: rgb(242, 242, 242);
}

tr:nth-child(odd){
	background-color:  rgb(210, 220, 240);
}

tr:first-child{
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

tr:last-child{
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

td{
	padding: 15px;
}



/* TABELL DESIGN END*/
/*-----------------------------------*/

/*----PART/SET PAGE---*/

#partdetails {
	margin: auto;
	margin-top: 2vw;
	padding: 20px;
	width: 80%;
	background: rgb(210, 220, 240);
	border: 2px solid rgba(0,0,100,0.35);
	border-radius: 10px;
}

#partdetails img{
}

#partdetails p{
	margin-left: 4;
}

#partdetails span{
	font-weight: bold;
}




/*----PART/SET PAGE END---*/
/*-----------------------------------*/